*{margin:0;padding:0}
.inner_copy {border:0;color:#f00;float:left;width:50% !important;margin:-100% 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:11px}
.fleft {float:left}
.fright  {float:right}
.fcenter {float:none;margin:0 auto;width:96%}
.fclear {clear:both}
body {background:#CEEFF4;margin:auto;font-family:Arial,Helvetica,sans-serif;font-size:20px;color:#000}
img {border:none}
a {color:#174f7b;font-size:12px}
a:hover {color:#000;text-decoration:none}
#site {width:900px;margin:auto;background:#fff}
#header {background:url(images/header.png   ) no-repeat;height:350px;width:900px}
#sitename {margin:0;font-family:Arial,Helvetica,sans-serif;font-size:46px;padding-top:60px;padding-left:460px;color:#322d21;font-weight:normal}
#sitename span {font-family:Arial,Helvetica,sans-serif;font-size:56px;color:#322d21;text-decoration:none;padding-left:5px}
#sitename a {display:block;font-family:Arial,Helvetica,sans-serif;font-size:32px;color:#322d21;text-decoration:none;padding-left:7px}
#sitename a:visited,active {font-family:Arial,Helvetica,sans-serif;font-size:22px;color:#322d21;text-decoration:none}
#sitename a:hover {font-family:Arial,Helvetica,sans-serif;font-size:20px;color:#322d21;text-decoration:underline}
#menu {height:45px;background:#80BBE3}
#menu ul {display:block;margin:0;padding-top:9px;height:45px}
#menu ul li {display:inline}
#menu ul li a {font-family:Arial,Helvetica,sans-serif;font-size:24px;color:#fff;font-weight:normal;text-decoration:none;padding-left:12px;padding-right:12px;padding-top:9px;padding-bottom:9px}
.active {background:#378CCD}
#menu ul li a:hover {background:#378CCD}
#content {width:800px;margin:auto;background:#fff}
#welcome {font-family:Arial,Helvetica,sans-serif;font-size:18px;font-weight:bold;color:#bda86e}
#content p {font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#666;font-weight:normal}
#footer {background:#A2D0E8;text-align:center;padding-top:19px;padding-bottom:29px}
p {color:#484439;font-family:Arial,Helvetica,sans-serif}
#footer a {color:#484439;text-decoration:underline;font-family:Arial,Helvetica,sans-serif}
.class1 {font-size:12px}
.class2 {font-size:10px}
#footer a:hover {color:#635d4f;text-decoration:underline;font-family:Arial,Helvetica,sans-serif}
#content_img {padding-top:17px;padding-bottom:17px;width:900px;background:url(images/bg.jpg) repeat-x top;text-align:center}
#content_img h1,h2{font:bold 80% 'helvetica neue',sans-serif;letter-spacing:3px;text-transform:uppercase}
#content_img a{color:#348;text-decoration:none;outline:none}
#content_img a:hover{color:#67a}
.caption{font-style:italic;color:#887}
.demo{position:relative;margin-top:2em}
#main_image{margin:0 auto 60px auto;height:438px;width:700px;background:black}
#main_image img{margin-bottom:10px}
#search form {float:right;margin-left:4em;margin-right: 2em}
.info{text-align:left;width:700px;margin:30px auto;border-top:1px dotted #221;padding-top:30px}
.info p{margin-top:1.6e}