<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>servidor-central-webapp</display-name>
    <servlet>
        <servlet-name>UsuarioWSImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ReservaWSImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServicioWSImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PromocionWSImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PaisWSImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CiudadWSImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CategoriaWSImplService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UsuarioWSImplService</servlet-name>
        <url-pattern>/UsuarioWSImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservaWSImplService</servlet-name>
        <url-pattern>/ReservaWSImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioWSImplService</servlet-name>
        <url-pattern>/ServicioWSImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromocionWSImplService</servlet-name>
        <url-pattern>/PromocionWSImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaisWSImplService</servlet-name>
        <url-pattern>/PaisWSImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CiudadWSImplService</servlet-name>
        <url-pattern>/CiudadWSImplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaWSImplService</servlet-name>
        <url-pattern>/CategoriaWSImplService</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
     <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/rest/api</param-value>
    </context-param>        
    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>resteasy-servlet</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>uy.edu.cure.servidor.central.webapp.rest.api.ApiManager</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>resteasy-servlet</servlet-name>
        <url-pattern>/rest/api/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>
            com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>soap</servlet-name>
        <servlet-class>
            com.sun.xml.ws.transport.http.servlet.WSServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>soap</servlet-name>
        <url-pattern>/soap/*</url-pattern>
    </servlet-mapping>
</web-app>
